@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Home Section Starts Here */

#home{
    height: 90vh;
    margin-top: 60px;
    width: 100%;
    background: linear-gradient( 313deg, rgba(242, 122, 56, 1) 10%, rgba(234, 80, 127, 1) 70% );
}

#home .container{
    padding-left: 10%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}

#home .text{
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

#home .text h1{
    font-size: 40px;
}

#home .text h3{
    font-size: 25px;
}

#home .img{
    width: 100%;
}

#home .img .rocket{
    width: 8%;
    margin-left: 20px;
}

#home .img .shadow{
    width: 8%;
    margin-left: 20px;
}

#home .img img{
    width: 100%;
}

#home .play{
    background-color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 10%;
    margin-top: -40px;
    z-index: 2;
    box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: blink 1.5s infinite;
}

#home .play img{
    width: 20px;
    margin-top: 20px;
    position: relative;
}

@keyframes blink {
    0% {
      box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
  
    50% {
      box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
}

/* Home Section Ends Here */

@media (max-width: 768px){
    #home .img .rocket{
        width: 30%;
    }

    #home .img .shadow{
    width: 30%;
    }

    #home .play{
        margin-top: 30px;
    }
}